In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('../data/apac_data.csv', sep=';')
data.head()

,WEEK,REGION,COUNTRY,ADMIN1,EVENT_TYPE,SUB_EVENT_TYPE,EVENTS,FATALITIES,POPULATION_EXPOSURE,DISORDER_TYPE,ID,CENTROID_LATITUDE,CENTROID_LONGITUDE
0,31-dicembre-2016,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,6,15,NaN,Political violence,1,"36,966","73,3417"
1,07-gennaio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,5,28,NaN,Political violence,1,"36,966","73,3417"
2,21-gennaio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,1,4,NaN,Political violence,1,"36,966","73,3417"
3,04-febbraio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,1,4,NaN,Political violence,1,"36,966","73,3417"
4,11-febbraio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,4,41,NaN,Political violence,1,"36,966","73,3417"

In [7]:
af_bat = data[(data['COUNTRY'] == 'Afghanistan') & (data['SUB_EVENT_TYPE'] == 'Armed clash')]
af_bat.head()

,WEEK,REGION,COUNTRY,ADMIN1,EVENT_TYPE,SUB_EVENT_TYPE,EVENTS,FATALITIES,POPULATION_EXPOSURE,DISORDER_TYPE,ID,CENTROID_LATITUDE,CENTROID_LONGITUDE
0,31-dicembre-2016,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,6,15,NaN,Political violence,1,"36,966","73,3417"
1,07-gennaio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,5,28,NaN,Political violence,1,"36,966","73,3417"
2,21-gennaio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,1,4,NaN,Political violence,1,"36,966","73,3417"
3,04-febbraio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,1,4,NaN,Political violence,1,"36,966","73,3417"
4,11-febbraio-2017,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,4,41,NaN,Political violence,1,"36,966","73,3417"

In [10]:
used_data = af_bat[['WEEK', 'ADMIN1', 'FATALITIES', 'CENTROID_LATITUDE', 'CENTROID_LONGITUDE']]
def month_to_eng(month):
    match month:
        case 'gennaio': return 'January'
        case 'febbraio': return 'February'
        case 'marzo': return 'March'
        case 'aprile': return 'April'
        case 'maggio': return 'May'
        case 'giugno': return 'June'
        case 'luglio': return 'July'
        case 'agosto': return 'August'
        case 'settembre': return 'September'
        case 'ottobre': return 'October'
        case 'novembre': return 'November'
        case 'dicembre': return 'December'

def month_to_num(month):
    match month:
        case 'January': return 1
        case 'February': return 2
        case 'March': return 3
        case 'April': return 4
        case 'May': return 5
        case 'June': return 6
        case 'July': return 7
        case 'August': return 8
        case 'September': return 9
        case 'October': return 10
        case 'November': return 11
        case 'December': return 12

used_data = used_data.copy()
used_data.loc[:, 'YEAR'] = used_data['WEEK'].apply(lambda x: int(x.split('-')[2]))
used_data.loc[:, 'MONTH'] = used_data['WEEK'].apply(lambda x: month_to_num(month_to_eng(x.split('-')[1])))
used_data.loc[:, 'DAY'] = used_data['WEEK'].apply(lambda x: int(x.split('-')[0]))

print(len(used_data))

used_data.head()

7817

,WEEK,ADMIN1,FATALITIES,CENTROID_LATITUDE,CENTROID_LONGITUDE,YEAR,MONTH,DAY
0,31-dicembre-2016,Badakhshan,15,"36,966","73,3417",2016,12,31
1,07-gennaio-2017,Badakhshan,28,"36,966","73,3417",2017,1,7
2,21-gennaio-2017,Badakhshan,4,"36,966","73,3417",2017,1,21
3,04-febbraio-2017,Badakhshan,4,"36,966","73,3417",2017,2,4
4,11-febbraio-2017,Badakhshan,41,"36,966","73,3417",2017,2,11

In [ ]:
# For each day find list of fatalities and location (latitude, longitude)
grouped_data = used_data.groupby(['YEAR', 'MONTH', 'DAY']).agg({
    'FATALITIES': list,
    'CENTROID_LATITUDE': list,
    'CENTROID_LONGITUDE': list
}).reset_index()
grouped_data.head()

,YEAR,MONTH,DAY,FATALITIES,CENTROID_LATITUDE,CENTROID_LONGITUDE
0,2016,12,31,"[15, 93, 2, 0, 6, 126, 8, 115, 17, 6, 0, 5, 3,...","[36,966, 35,2572, 35,79, 36,5288, 32,4966, 36,...","[73,3417, 63,5813, 69,109, 66,9116, 62,41, 64,..."
1,2017,1,7,"[28, 0, 6, 20, 9, 106, 3, 0, 18, 22, 0, 0, 5, ...","[36,966, 35,2572, 36,5288, 32,4966, 33,1547, 3...","[73,3417, 63,5813, 66,9116, 62,41, 67,7536, 64..."
2,2017,1,14,"[0, 0, 1, 0, 4, 6, 9, 61, 4, 3, 0, 63, 19, 0, ...","[35,2572, 35,79, 36,5288, 33,6473, 32,4966, 36...","[63,5813, 69,109, 66,9116, 66,3457, 62,41, 64,..."
3,2017,1,21,"[4, 0, 17, 1, 0, 4, 14, 12, 53, 67, 6, 0, 0, 1...","[36,966, 35,2572, 35,79, 36,5288, 33,6473, 32,...","[73,3417, 63,5813, 69,109, 66,9116, 66,3457, 6..."
4,2017,1,28,"[10, 6, 16, 9, 255, 6, 2, 0, 38, 6, 0, 2, 16, ...","[35,79, 32,4966, 36,2086, 33,1547, 31,3969, 34...","[69,109, 62,41, 64,7689, 67,7536, 64,0428, 62,..."

In [ ]:
#used_data.to_csv('af_geobat.csv', sep=';')

# Save to CSV
#grouped_data.to_csv('../data/section_4/af_geo_bat_daily.csv', index=False, sep=';')

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mexwell/afghanistan-data-on-conflict-events")

Using Colab cache for faster access to the 'afghanistan-data-on-conflict-events' dataset.

ValueError: 'data.csv' is not present in the dataset files. You can access the other files of the attached dataset at '/kaggle/input/afghanistan-data-on-conflict-events'

In [ ]:
data = pd.read_csv('afg_war.csv', sep=';')
data.count()

id                   41443
relid                41443
year                 41443
active_year          41443
code_status          41443
type_of_violence     41443
conflict_dset_id     41443
conflict_new_id      41443
conflict_name        41443
dyad_dset_id         41443
dyad_new_id          41443
dyad_name            41443
side_a_dset_id       41443
side_a_new_id        41443
side_a               41443
side_b_dset_id       41443
side_b_new_id        41443
side_b               41443
number_of_sources    41443
source_article       41443
source_office        25584
source_date          25584
source_headline      25584
source_original      40509
where_prec           41443
where_coordinates    41443
where_description    41424
adm_1                40724
adm_2                32972
latitude             41443
longitude            41443
geom_wkt             41443
priogrid_gid         41443
country              41443
iso3                 41443
country_id           41443
region               41443
event_clarity        41443
date_prec            41443
date_start           41443
date_end             41443
deaths_a             41443
deaths_b             41443
deaths_civilians     41443
deaths_unknown       41443
best                 41443
high                 41443
low                  41443
gwnoa                39632
gwnob                    0
dtype: int64